:host {
    margin-top: 4%;
  
    .centered {
      justify-content: center;
    }
  }
  .ssninput {
    width: 100%;
  }
  .pt-5 {
    padding-top: 5px;
  }
  .pb-5 {
    padding-bottom: 5px;
  }
  .ssn-view {
    max-width: 450px;
  }
  