<ion-grid>
  <form
    class="ssn-view m-auto"
    [formGroup]="registerForm"
    (ngSubmit)="onRegisterDevide()"
  >
    <ion-row class="mt-30">
      <ion-col>
        <ion-item
          class="ion-no-padding text-black"
          lines="none"
          [ngClass]="{'select-tag-error':(submitted && handleError('usertype', 'required')), 'select-tag':!(submitted && handleError('usertype', 'required')) }"
        >
          <ion-select
            class="ion-select"
            [interfaceOptions]="customActionSheetOptions"
            interface="action-sheet"
            placeholder="{{pageText.dropdown.selectOption}}"
            [ngClass]="{'select-red text-black ion-no-padding':(submitted && handleError('usertype', 'required')), 'select text-black ion-no-padding':!(submitted && handleError('usertype', 'required')) }"
            (ionChange)="registrationType($event)"
            formControlName="usertype"
            id="usertype"
            [(ngModel)]="usertype"
          >
            <ion-select-option
              id="dropdownssntxt"
              class="text-black"
              value="SSN"
              >ssnPin</ion-select-option
            >
            <ion-select-option
              id="dropdowneidtxt"
              class="text-black"
              value="EID"
              >empIdPin</ion-select-option
            >
          </ion-select>
          <ion-list>        
            <ion-item>
              <ion-label>Alert</ion-label>
              <ion-select [interfaceOptions]="customAlertOptions" interface="alert" placeholder="Select One">
                <ion-select-option value="bacon">Bacon</ion-select-option>
                <ion-select-option value="onions">Onions</ion-select-option>
                <ion-select-option value="pepperoni">Pepperoni</ion-select-option>
              </ion-select>
            </ion-item>
                  
            <ion-item>
              <ion-label>Popover</ion-label>
              <ion-select [interfaceOptions]="customPopoverOptions" interface="popover" placeholder="Select One">
                <ion-select-option value="brown">Brown</ion-select-option>
                <ion-select-option value="blonde">Blonde</ion-select-option>
                <ion-select-option value="red">Red</ion-select-option>
              </ion-select>
            </ion-item>
                  
            <ion-item>
              <ion-label>Action Sheet</ion-label>
              <ion-select [interfaceOptions]="customActionSheetOptions" interface="action-sheet" placeholder="Select One">
                <ion-select-option value="red">Red</ion-select-option>
                <ion-select-option value="green">Green</ion-select-option>
                <ion-select-option value="blue">Blue</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-list>
        </ion-item>
      </ion-col>
    </ion-row>

  </form>
</ion-grid>