<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-item>
      <ion-label position="floating">Enter the Username</ion-label>
      <ion-input [(ngModel)]="state.username"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Enter the Password</ion-label>
      <ion-input [(ngModel)]="state.password"></ion-input>
    </ion-item>

    <ion-item>
      <div style="flex: auto;">
        <ion-button expand="block" (click)="setSession()">Login</ion-button>
      </div>
    </ion-item>

    <ion-item>
      <div style="flex: auto;">
        <ion-button expand="block" (click)="refresh()">Re-store</ion-button>
      </div>
    </ion-item>

    <ion-item>
      <div style="flex: auto;">
        <ion-toggle [(ngModel)]="biometric">Touch/Face ID</ion-toggle>
      </div>
    </ion-item>

    <ion-item>
      <ion-label>Use Privacy Screen</ion-label>
      <ion-checkbox [(ngModel)]="state.privacyScreen" (ionChange)="setPrivacyScreen()"></ion-checkbox>
    </ion-item>
    <ion-item>
      <div style="flex: auto;">
        <ion-button expand="block" (click)="clearVault()">Clear Vault</ion-button>
      </div>
    </ion-item>

    <ion-item>
      <ion-label>
        <div>username : {{ state.username }}</div>
        <div>password : {{ state.password }}</div>
        <div>Vault is locked: {{ state.isLocked }}</div>
        <div>Vault exists: {{ state.vaultExists }}</div>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
